#essentials
pip
setuptools
wheel

#cv-vision related
opencv-python
matplotlib
torch
torchvision

#transformers
transformers
diffusers
accelerate

#image procesing
OpenEXR
Imath
kornia

# Runtime helpers
requests
safetensors
numba
imageio
pillow
